<br>

<br>


<div class="row">

  <div class="col-xs-3">
    <h2>User info</h2>
    <div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
 <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
  <% end %></div>






    <h2>New book</h2>
    <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="enHoOnDsIiT/Wt+IMREq3tYJCprJfiNO2mYRAscZ/6hewxnsBsvrGRcVzYVWe//IH7s1e+ddJGDRKy7UAAPkoA==">
  <div class="field row">
    <label for="book_title">Title</label>
    <input class="col-xs-12 book_title" type="text" name="book[title]" id="book_title">
  </div>

  <div class="field row">
    <label for="book_opinion">Opinion</label>
    <textarea class="col-xs-12 book_body" name="book[body]" id="book_body"></textarea>
  </div>

  <div class="actions row">
    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
  </div>
</form>

  </div>

  <div class="col-xs-9">



    <h2>Books</h2>

    <table class="table table-hover table-inverse">
  <thead>
    <tr> 
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

